{:calls [{:arg-key ["http://www.dnd5eapi.co/api/monsters"
                    {:query-params {:name "Bugbear"}}],
          :return {:body "{\"count\":1,\"results\":[{\"name\":\"Bugbear\",\"url\":\"http://www.dnd5eapi.co/api/monsters/57\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "89",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Mon, 06 Aug 2018 03:28:11 GMT",
                    "Etag" "W/\"59-S/IJH3U/4Qi5bX6dfZr2OA\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 89,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 125,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-06T03:28:11.532-00:00"}
