{:calls [{:arg-key ["http://www.dnd5eapi.co/api/weapon-properties" nil],
          :return {:body "{\"count\":11,\"results\":[{\"name\":\"Ammunition\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/1\"},{\"name\":\"Finesse\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/2\"},{\"name\":\"Heavy\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/3\"},{\"name\":\"Light\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/4\"},{\"name\":\"Loading\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/5\"},{\"name\":\"Reach\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/6\"},{\"name\":\"Special\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/7\"},{\"name\":\"Thrown\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/8\"},{\"name\":\"Two-Handed\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/9\"},{\"name\":\"Versatile\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/10\"},{\"name\":\"Monk\",\"url\":\"http://www.dnd5eapi.co/api/weapon-properties/11\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "838",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Sun, 05 Aug 2018 23:56:36 GMT",
                    "Etag" "W/\"346-MS0BtXx8fkWRqI7+OWZ2hw\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 838,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 128,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-05T23:56:36.371-00:00"}
