{:calls [{:arg-key ["http://www.dnd5eapi.co/api/classes" nil],
          :return {:body "{\"count\":12,\"results\":[{\"name\":\"Barbarian\",\"url\":\"http://www.dnd5eapi.co/api/classes/1\"},{\"name\":\"Bard\",\"url\":\"http://www.dnd5eapi.co/api/classes/2\"},{\"name\":\"Cleric\",\"url\":\"http://www.dnd5eapi.co/api/classes/3\"},{\"name\":\"Druid\",\"url\":\"http://www.dnd5eapi.co/api/classes/4\"},{\"name\":\"Fighter\",\"url\":\"http://www.dnd5eapi.co/api/classes/5\"},{\"name\":\"Monk\",\"url\":\"http://www.dnd5eapi.co/api/classes/6\"},{\"name\":\"Paladin\",\"url\":\"http://www.dnd5eapi.co/api/classes/7\"},{\"name\":\"Ranger\",\"url\":\"http://www.dnd5eapi.co/api/classes/8\"},{\"name\":\"Rogue\",\"url\":\"http://www.dnd5eapi.co/api/classes/9\"},{\"name\":\"Sorcerer\",\"url\":\"http://www.dnd5eapi.co/api/classes/10\"},{\"name\":\"Warlock\",\"url\":\"http://www.dnd5eapi.co/api/classes/11\"},{\"name\":\"Wizard\",\"url\":\"http://www.dnd5eapi.co/api/classes/12\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "785",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Mon, 06 Aug 2018 03:35:26 GMT",
                    "Etag" "W/\"311-d0B+PoxvwmqzO+AV2x/i2A\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 785,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 129,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-06T03:35:26.034-00:00"}
