{:calls [{:arg-key ["http://www.dnd5eapi.co/api/magic-schools" nil],
          :return {:body "{\"count\":8,\"results\":[{\"name\":\"Abjuration\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/1\"},{\"name\":\"Conjuration\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/2\"},{\"name\":\"Divination\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/3\"},{\"name\":\"Enchantment\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/4\"},{\"name\":\"Evocation\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/5\"},{\"name\":\"Illusion\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/6\"},{\"name\":\"Necromancy\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/7\"},{\"name\":\"Transmutation\",\"url\":\"http://www.dnd5eapi.co/api/magic-schools/8\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "609",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Sun, 05 Aug 2018 23:56:34 GMT",
                    "Etag" "W/\"261-gCrofeyuakRCKUpKie45Ng\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 609,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 133,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-05T23:56:34.214-00:00"}
