{:calls [{:arg-key ["http://www.dnd5eapi.co/api/ability-scores" nil],
          :return {:body "{\"count\":6,\"results\":[{\"name\":\"STR\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/1\"},{\"name\":\"DEX\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/2\"},{\"name\":\"CON\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/3\"},{\"name\":\"INT\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/4\"},{\"name\":\"WIS\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/5\"},{\"name\":\"CHA\",\"url\":\"http://www.dnd5eapi.co/api/ability-scores/6\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "425",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Sun, 05 Aug 2018 23:56:31 GMT",
                    "Etag" "W/\"1a9-z7IfybB0mOcJsbr5LrAx4g\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 425,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 261,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-05T23:56:31.718-00:00"}
