{:calls [{:arg-key ["http://www.dnd5eapi.co/api/spellcasting" nil],
          :return {:body "{\"count\":8,\"results\":[{\"class\":\"Bard\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/1\"},{\"class\":\"Cleric\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/2\"},{\"class\":\"Druid\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/3\"},{\"class\":\"Paladin\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/4\"},{\"class\":\"Ranger\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/5\"},{\"class\":\"Sorcerer\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/6\"},{\"class\":\"Warlock\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/7\"},{\"class\":\"Wizard\",\"url\":\"http://www.dnd5eapi.co/api/spellcasting/8\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "576",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Sun, 05 Aug 2018 23:56:35 GMT",
                    "Etag" "W/\"240-Qfdhm9I/D7SQnirBoL3zNQ\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 576,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 130,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-05T23:56:35.373-00:00"}
