{:calls [{:arg-key ["http://www.dnd5eapi.co/api/races" nil],
          :return {:body "{\"count\":9,\"results\":[{\"name\":\"Dwarf\",\"url\":\"http://www.dnd5eapi.co/api/races/1\"},{\"name\":\"Elf\",\"url\":\"http://www.dnd5eapi.co/api/races/2\"},{\"name\":\"Halfling\",\"url\":\"http://www.dnd5eapi.co/api/races/3\"},{\"name\":\"Human\",\"url\":\"http://www.dnd5eapi.co/api/races/4\"},{\"name\":\"Dragonborn\",\"url\":\"http://www.dnd5eapi.co/api/races/5\"},{\"name\":\"Gnome\",\"url\":\"http://www.dnd5eapi.co/api/races/6\"},{\"name\":\"Half-Elf\",\"url\":\"http://www.dnd5eapi.co/api/races/7\"},{\"name\":\"Half-Orc\",\"url\":\"http://www.dnd5eapi.co/api/races/8\"},{\"name\":\"Tiefling\",\"url\":\"http://www.dnd5eapi.co/api/races/9\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "578",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Mon, 06 Aug 2018 03:35:28 GMT",
                    "Etag" "W/\"242-8e+g4UKIaQG6srg4HjiL4g\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 578,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 122,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-06T03:35:28.860-00:00"}
