{:calls [{:arg-key ["http://www.dnd5eapi.co/api/traits" nil],
          :return {:body "{\"count\":6,\"results\":[{\"name\":\"Hill Dwarf\",\"url\":\"http://www.dnd5eapi.co/api/traits/1\"},{\"name\":\"High Elf\",\"url\":\"http://www.dnd5eapi.co/api/traits/2\"},{\"name\":\"Lightfoot Halfling\",\"url\":\"http://www.dnd5eapi.co/api/traits/3\"},{\"name\":\"Mountain Dwarf\",\"url\":\"http://www.dnd5eapi.co/api/traits/4\"},{\"name\":\"Wood Elf\",\"url\":\"http://www.dnd5eapi.co/api/traits/5\"},{\"name\":\"Dark Elf (Drow)\",\"url\":\"http://www.dnd5eapi.co/api/traits/6\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "432",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Mon, 06 Aug 2018 03:35:30 GMT",
                    "Etag" "W/\"1b0-ZvLVW4ifDZKZQvy/Wa6+hQ\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 432,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 132,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-06T03:35:29.966-00:00"}
