{:calls [{:arg-key ["http://www.dnd5eapi.co/api/subclasses" nil],
          :return {:body "{\"count\":12,\"results\":[{\"name\":\"Berserker\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/1\"},{\"name\":\"Lore\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/2\"},{\"name\":\"Life\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/3\"},{\"name\":\"Land\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/4\"},{\"name\":\"Champion\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/5\"},{\"name\":\"Open Hand\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/6\"},{\"name\":\"Devotion\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/7\"},{\"name\":\"Hunter\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/8\"},{\"name\":\"Thief\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/9\"},{\"name\":\"Draconic\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/10\"},{\"name\":\"Fiend\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/11\"},{\"name\":\"Evocation\",\"url\":\"http://www.dnd5eapi.co/api/subclasses/12\"}]}",
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "826",
                    "Content-Type" "application/json; charset=utf-8",
                    "Date" "Mon, 06 Aug 2018 03:28:11 GMT",
                    "Etag" "W/\"33a-TuQgB/1hucc5V0QKEkAPtg\"",
                    "Server" "Cowboy",
                    "Via" "1.1 vegur",
                    "X-Powered-By" "Express"},
                   :length 826,
                   :orig-content-encoding nil,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :request-time 141,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.client/get"}],
 :recorded-at #inst "2018-08-06T03:28:10.973-00:00"}
